*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none!important;
}

textarea {
    resize: none;
}

/* ~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~ */
header h2{
    padding: 15px 0;
}
header div.container{
    text-align: right;
    margin-top: 10px;
}
header div.container a{
    color: rgb(120, 120, 120);
}
.titulo-tienda{
    color: rgb(80, 80, 80);
}
.titulo-tienda:hover {
    color: rgb(120, 120, 120);
}

/* ~~~~~~~~~~~~ NAV ~~~~~~~~~~~~ */
nav.barraDeNavegacion{
    position: sticky!important;
    top: 0;
    z-index: 99;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.a-navBar{
    font-size: 17px;
    margin-right: 15px;
}

/* ~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~ */
footer{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: rgb(120, 120, 120);
    font-weight: 500;
}


/* INDEX DE PRODUCTO CONTROLLER */
.title-productos{
    font-size: 30px;
}
.precio-productos{
    font-weight: 500;
}
/* Lista de productos */
.img-lista-productos{
    height: 150px;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
/* Tabla del Administrador */
.tr-lista-productos > td{
    border: none;
}
.tabla-lista-productos{
    border: 1px solid #ddd;
}
.tabla-lista-productos thead th{
    text-align: center;
    border: none!important;
}
