*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none!important;
}

textarea {
    resize: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header h2{
    padding: 15px 0;
}
header div.container{
    text-align: right;
    margin-top: 10px;
}
header div.container a{
    color: rgb(120, 120, 120);
    font-size: 25px;
}
.titulo-tienda{
    color: rgb(80, 80, 80);
}
.titulo-tienda:hover {
    color: rgb(120, 120, 120);
}
.fa-sign-out-alt{
    font-size: 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~ NAV ~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
nav.barraDeNavegacion{
    position: sticky!important;
    top: 0;
    z-index: 99;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.a-navBar{
    font-size: 17px;
    margin-right: 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: rgb(120, 120, 120);
    font-weight: 500;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~ PAGINA DE PRODUCTOS ~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.title-productos{
    font-size: 30px;
}
.precio-productos{
    font-weight: 500;
}
.img-lista-productos{
    height: 150px;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.enlaceAProducto{
    color: rgb(30,30,30);
}
.enlaceAProducto:hover{
    color: rgb(110,110,110);
}
.card-body-producto{
    height: 100%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~ PAGINA DEL ADMINISTRADOR ~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.tr-lista-productos > td{
    border: none;
}
.tabla-lista-productos{
    border: 1px solid #ddd;
}
.tabla-lista-productos thead th{
    text-align: center;
    border: none!important;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~ PAGINA DE DESCRIPCION DE PRODUCTO ~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.imgProducto{
    width: 350px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.mediosDePagoProducto{
    list-style: none;
    display: flex;
}
.tarjetaBancaria{
    width: 50px;
    border: 1px solid #ddd;
    margin-right: 10px;
}
.text-tallas-disponibles{
    margin-bottom: 5px;
    color: rgb(100, 100, 100);
    font-weight: 500;
}
.contenedor-Tallas{
    display: flex;
}
.contenedor-Tallas > div{
    color: rgb(100, 100, 100);
    border: 2px solid rgb(100, 100, 100);
    padding: 5px 15px;
    margin-right: 10px;
}
.contenedor-Tallas > div:last-child{
    border: 2px solid #ddd;
    color:  rgb(200, 200, 200);
}
.boton-producto{
    border-radius: 0;
    padding: 10px 0;
}
.titulo-producto{
    font-weight: 350;
}
.precio-producto{
    font-size: 40px;
}
.title-descripcion-producto{
    font-weight: bold;
    color: rgb(100, 100, 100);
    margin-bottom: 5px;
    font-size: 20px;
}